# Build files
*.d
*.o

# Executables
mandel
mandelmovie

# Output of program
*.jpg
*.mpg
out

# Other images
*.png

# Not these outputs
# (they are useful to have around)
!mandel.jpg
!kool.jpg
!kool_big.jpg